<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wanfang.datacleaning.handler.dao.master.TblBusinessDao">
    <resultMap id="StandardFieldResultMap" type="com.wanfang.datacleaning.handler.model.bo.BusinessStandardInfoBO">
        <id column="ID" property="id" jdbcType="BIGINT"/>
        <result column="PRIPID" property="pripid" jdbcType="VARCHAR"/>
        <result column="ENTNAME" property="entName" jdbcType="VARCHAR"/>
        <result column="OPFROM" property="opFrom" jdbcType="DATE"/>
        <result column="OPTO" property="opTo" jdbcType="DATE"/>
        <result column="HAS_DRSTANDARD" property="hasDrStandard" jdbcType="INTEGER"/>
        <result column="DRSTANDARD_TYPE_LIST" property="drStandardTypeList" jdbcType="VARCHAR"/>
        <result column="DRSTANDARD_NUM" property="drStandardNum" jdbcType="INTEGER"/>
        <result column="UPDATE_TIME" property="updateTime" jdbcType="BIGINT"/>
    </resultMap>

    <!--分页获取标准信息-->
    <select id="getStandardInfoByPage" resultMap="StandardFieldResultMap">
        SELECT
        ID,PRIPID,ENTNAME,OPFROM,OPTO,HAS_DRSTANDARD,DRSTANDARD_TYPE_LIST,DRSTANDARD_NUM,UPDATE_TIME
        FROM tblbusiness
        <where>
            AND ID <![CDATA[ >= ]]> #{idStartPosition}
            AND ID <![CDATA[ <= ]]> #{idEndPosition}
        </where>
        ORDER BY ID
        LIMIT #{pageSize}
    </select>

    <!--更新标准信息-->
    <update id="updateStandardInfoByKey"
            parameterType="com.wanfang.datacleaning.handler.model.bo.BusinessStandardInfoBO">
        UPDATE tblbusiness
        <set>
            HAS_DRSTANDARD = #{hasDrStandard},
            DRSTANDARD_TYPE_LIST = #{drStandardTypeList},
            DRSTANDARD_NUM = #{drStandardNum},
            UPDATE_TIME = #{updateTime},
        </set>
        <where>
            AND ID = #{id}
        </where>
    </update>

    <!--批量更新标准信息-->
    <update id="updateBatchStandardInfoByKey" parameterType="java.util.List">
        <foreach collection="list" separator=";" item="item">
            UPDATE tblbusiness
            <set>
                HAS_DRSTANDARD = #{item.hasDrStandard},
                DRSTANDARD_TYPE_LIST = #{item.drStandardTypeList},
                DRSTANDARD_NUM = #{item.drStandardNum},
                UPDATE_TIME = #{item.updateTime},
            </set>
            <where>
                AND ID = #{item.id}
            </where>
        </foreach>
    </update>

</mapper>