<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wanfang.datacleaning.dao.dao.master.TblStandardResultDao">

    <!--添加企业成果信息-->
    <insert id="add" parameterType="com.wanfang.datacleaning.dao.model.master.entity.TblStardardResultEntity">
        INSERT INTO tblStandardResult (
            PRIPID,
            ENTNAME,
            RESULT_NUM,
            RESULT_TYPE,
            UPDATE_TIME
        ) VALUES (
            #{pripid},
            #{entName},
            #{resultNum},
            #{resultType},
            #{updateTime}
        )
    </insert>

    <!--批量添加企业成果信息-->
    <insert id="addBatch" parameterType="java.util.List">
        <foreach collection="list" separator=";" item="item">
            INSERT INTO tblStandardResult (
            PRIPID,
            ENTNAME,
            RESULT_NUM,
            RESULT_TYPE,
            UPDATE_TIME
            ) VALUES (
            #{item.pripid},
            #{item.entName},
            #{item.resultNum},
            #{item.resultType},
            #{item.updateTime}
            )
        </foreach>
    </insert>

</mapper>