<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wanfang.datacleaning.handler.dao.master.TblPatentDao">

    <resultMap id="BasePatentTypeResultMap" type="com.wanfang.datacleaning.handler.model.bo.PatentPatTypeBO">
        <result column="proposer_name" property="proposerName" jdbcType="LONGVARCHAR"/>
        <result column="patent_type" property="patentType" jdbcType="VARCHAR"/>
        <result column="app_date" property="appDate" jdbcType="VARCHAR"/>
    </resultMap>

    <!--分页获取专利类型信息-->
    <select id="getBasePatentTypeInfoByPage" resultMap="BasePatentTypeResultMap">
        SELECT
          proposer_name, patent_type,app_date
        FROM tblPatent
        WHERE
          ID <![CDATA[ > ]]> #{startIndex}
        ORDER BY ID
        LIMIT #{pageSize}
    </select>

</mapper>