<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wanfang.datacleaning.handler.dao.master.TblBusinessDao">

    <resultMap id="UsCreditCodeResultMap" type="com.wanfang.datacleaning.handler.model.bo.UsCreditCodeBO">
        <id column="ID" property="id" jdbcType="BIGINT"/>
        <result column="PRIPID" property="pripid" jdbcType="VARCHAR"/>
        <result column="CREDITCODE" property="usCreditCode" jdbcType="VARCHAR"/>
        <result column="ORGCODE" property="orgCode" jdbcType="VARCHAR"/>
        <result column="UPDATE_TIME" property="updateTime" jdbcType="BIGINT"/>
    </resultMap>

    <!--分页获取统一社会信用代码信息-->
    <select id="getUsCreditCodeByPage" resultMap="UsCreditCodeResultMap">
        SELECT
          ID,PRIPID,CREDITCODE,ORGCODE,UPDATE_TIME
        FROM tblBusiness
        WHERE
          ID <![CDATA[ > ]]> #{startIndex}
        ORDER BY ID
        LIMIT #{pageSize}
    </select>

    <!--更新统一社会信用代码信息-->
    <update id="updateUsCreditCodeByKey" parameterType="com.wanfang.datacleaning.handler.model.bo.UsCreditCodeBO">
        UPDATE tblBusiness
        <set>
            <if test="usCreditCode != null and usCreditCode != ''">
                CREDITCODE = #{usCreditCode},
            </if>
            <if test="orgCode != null and orgCode != ''">
                ORGCODE = #{orgCode},
            </if>
            <if test="updateTime != null">
                UPDATE_TIME = #{updateTime},
            </if>
        </set>
        <where>
            AND ID = #{id}
        </where>
    </update>

    <!--批量更新统一社会信用代码信息-->
    <update id="updateBatchUsCreditCodeByKey" parameterType="java.util.List">
        <foreach collection="list" separator=";" item="item">
            UPDATE tblBusiness
            <set>
                <if test="item.usCreditCode != null and item.usCreditCode != ''">
                    CREDITCODE = #{item.usCreditCode},
                </if>
                <if test="item.orgCode != null and item.orgCode != ''">
                    ORGCODE = #{item.orgCode},
                </if>
                <if test="item.updateTime != null">
                    UPDATE_TIME = #{item.updateTime},
                </if>
            </set>
            <where>
                AND ID = #{item.id}
            </where>
        </foreach>
    </update>

</mapper>