<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wanfang.datacleaning.handler.dao.master.TblUsCreditCodeDao">
    <resultMap id="UsCreditCodeResultMap" type="com.wanfang.datacleaning.handler.model.bo.UsCreditCodeBO">
        <id column="ID" property="id" jdbcType="BIGINT"/>
        <result column="PRIPID" property="pripid" jdbcType="VARCHAR"/>
        <result column="USCREDITCODE" property="usCreditCode" jdbcType="VARCHAR"/>
    </resultMap>

    <!--分页获取统一社会信用代码信息-->
    <select id="getUsCreditCodeByPage" resultMap="UsCreditCodeResultMap">
        SELECT
          ID,PRIPID, USCREDITCODE
        FROM tblUsCreditCode
        WHERE
          ID <![CDATA[ > ]]> #{startIndex}
        ORDER BY ID
        LIMIT #{pageSize}
    </select>
</mapper>