<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wanfang.datacleaning.handler.dao.master.TblBusinessDao">

    <resultMap id="CapFieldResultMap" type="com.wanfang.datacleaning.handler.model.bo.BusinessCapInfoBO">
        <id column="ID" property="id" jdbcType="BIGINT"/>
        <result column="REGCAP" property="regCap" jdbcType="DECIMAL"/>
        <result column="REGCAPCUR" property="regCapCur" jdbcType="VARCHAR"/>
        <result column="REGCAP_RMB" property="regCapRmb" jdbcType="DECIMAL"/>
        <result column="UPDATE_TIME" property="updateTime" jdbcType="BIGINT"/>
    </resultMap>

    <!--分页获取资金信息-->
    <select id="getCapInfoByPage" resultMap="CapFieldResultMap">
        SELECT
        ID,REGCAP,REGCAPCUR,REGCAP_RMB,UPDATE_TIME
        FROM tblBusiness
        <where>
            AND ID <![CDATA[ >= ]]> #{idStartPosition}
            AND ID <![CDATA[ <= ]]> #{idEndPosition}
        </where>
        ORDER BY ID
        LIMIT #{pageSize}
    </select>

    <!--更新资金信息-->
    <update id="updateCapInfoByKey" parameterType="com.wanfang.datacleaning.handler.model.bo.BusinessCapInfoBO">
        UPDATE tblBusiness
        <set>
            REGCAP_RMB = #{regCapRmb},
            UPDATE_TIME = #{updateTime},
        </set>
        <where>
            AND ID = #{id}
        </where>
    </update>

    <!--批量更新资金信息-->
    <update id="updateBatchCapInfoByKey" parameterType="java.util.List">
        <foreach collection="list" separator=";" item="item">
            UPDATE tblBusiness
            <set>
                REGCAP_RMB = #{item.regCapRmb},
                UPDATE_TIME = #{item.updateTime},
            </set>
            <where>
                AND ID = #{item.id}
            </where>
        </foreach>
    </update>

</mapper>